name: Build Maven Project

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 17

      - name: Build with Maven
        run: mvn -U -B clean package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: bfhl-webhook-jar
          path: target/*.jar
          if-no-files-found: error
